html {
	padding: 0;
	display: block;
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}

body {
	padding: 0;
	display: block;
	height: 100%;
	background: #0E141B; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0E141B, #535960); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0E141B, #373a3e); 
	margin: 0;
}

.wrapper {
	display: flex;
	position: relative;
	padding: 0;
	width: 100%;
	height:	100%;
	margin: 0;
	/*border: 1px solid rgb(0, 255, 255);*/
	
}
.column {
	/*border: 1px solid rgb(168, 25, 25);*/

	border-top-right-radius: 2em;
	display: flex;
  flex-direction: column;

	width: 25%;
	height:	100%;
	background-color: #233243;
}

.content {
	/*border: 1px solid rgb(25, 168, 32);*/
	margin-left:  2em;
	margin-right: 0;
	border-radius: 1em;
	width: 75%;
	height:	100%;
	/*background-color: #0E141B;*/
}
#logo img{
	padding-top: 3.5em;
	display:block;
    margin:auto;
	max-width: 60%;
	height: auto;
	width: auto;
}

.sign_button {
	color: #1DB954;
	font-size: 0.95em;
	font-weight: 550;
	display: flex;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.65em;
	padding-bottom: 0.65em;
	border: 1px solid  #233243;
	border-radius: 0.75em ;
	width: fit-content;
	margin: 0.75em;
	background-color: #233243;
	min-width: fit-content;
}
.wrapper-top {
	margin-top: 1.5em;
	display: flex;
	flex-wrap: wrap;
}
#cred-bar{
	margin-left: auto;
	width: auto;
	display: flex;
	flex-wrap: wrap;
}

.footer {
	background-color: #0E141B;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3.5em;
	margin: 0;
	display: flex;
}

.footer-msg{
	margin: auto;
	text-align: center;
	color: #1DB954;
	font-size: 0.95em;
}
.options-wrapper{
	margin-top: 6em;
}
.options-menu{
	text-align: center;
	border: 1px solid #18212c;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	min-width: fit-content;
	border-radius: 1em;
	margin-top: 2em;
	color:dimgrey;
	background-color: #192738;
}
.policy-wrapper {
	margin-top: auto;
}
.policy {
	text-align: center;
	border: 1px solid #18212c;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	min-width: fit-content;
	border-radius: 1em;
	margin-top: 2em;
	color:dimgrey;
	background-color: #192738;
}