html {
	padding: 0;
	display: block;
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}

body {
	padding: 0;
	display: flex;
	height: 100%;
	background: #0E141B; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0E141B, #535960); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0E141B, #373a3e); 
	margin: 0;
}


.column {
	/*border: 1px solid rgb(168, 25, 25);*/
	border-top-right-radius: 2em;
	display: flex;
	position: fixed;
 	flex-direction: column;
	width: 25%;
	height:	92%;
	background-color: #233243;
}

.content {
	/*border: 1px solid rgb(25, 168, 32);*/
	margin-left:  25%;
	margin-right: 0;
	border-radius: 1em;
	width: 75%;
	height:	92%;
	/*background-color: #0E141B;*/
}

.song-wrapper {
	/*border: 1px solid rgb(25, 168, 32);*/
	margin-left:  2em;
	margin-right: 0;
	border-radius: 1em;
	width: 100%;
	height: 88%;
	/*background-color: #0E141B;*/
}

#logo img{
	padding-top: 3.5em;
	display:block;
    margin:auto;
	max-width: 60%;
	height: auto;
	width: auto;
}


.sign_button {
	color: #a98ed5;
	font-size: 0.95em;
	font-weight: 550;
	display: flex;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.65em;
	padding-bottom: 0.65em;
	border: 1px solid  #0d1014;
	border-radius: 0.75em ;
	width: fit-content;
	margin: 0.75em;
	background-color: #1f262f;
	min-width: fit-content;
}
.wrapper-top {
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
}
#cred-bar{
	background-color: #0E141B;
	position: fixed;
	right: 0;
	margin-left: auto;
	border-bottom-left-radius: 1em;
	padding-left: 2em;
	padding-right: 2em;
	width: auto;
	display: flex;
	flex-wrap: wrap;
}


.player {
	z-index: 10;
	position: fixed;
	background: #233243;
	color: #000;
	bottom: 0;
	left: 0;
	right: 0;
	height: 8%;
	margin: 0;
	min-height: 80px;
	max-height: 80px;
	display: flex;
	flex-direction: row;
}
.player .left {
	width: 80px;
	background-size: cover;
}
.player .left img {
	width: 80px;
	height: 80px;
}
.player .right {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.player .right .top {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
}
.player .right .top .song {
	font-size: 1.2em;
	font-weight: 600;
}
.player .right .bottom {
	display: flex;
}
.player .right .bottom video {
	flex-grow: 1;
	height: 32px;
}

.options-wrapper{
	margin-top: auto;
	margin-bottom: auto;
}
.options-menu{
	display: flex;
	text-align: center;
	border: 1px solid #18212c;
	padding: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	min-width: fit-content;
	border-radius: 1em;
	margin-top: 10%;
	color:dimgrey;
	background-color: #192738;
}
.options-text {
	margin: auto;
}
.policy-wrapper {
	margin-top: auto;
	margin-bottom: 0;
}
.policy {
	text-align: center;
	border: 1px solid #18212c;
	margin-left: auto;
	margin-right: auto;
	width: inherit;
	padding: 1em;
	min-width: fit-content;
	margin-top: 0;
	color:dimgrey;
	background-color: #192738;
}

a {
	color: #a98ed5;
	text-decoration: none;
}

.policy-link a:visited {
	color: #a98ed5;
}
.covers{
	--gap: 32px;
	--num-cols: 5;
	--row-height: 200px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
	
}



/* Anything udner 1500px */
@media screen and (max-width: 1500px) {
	.covers {
	  --num-cols: 4;
	  --row-height: 200px;
	}
  }

/* Anything udner 1024px */
@media screen and (max-width: 1350px) {
	.covers {
	  --num-cols: 3;
	  --row-height: 200px;
	}
	.audio {
		transform: translate(200%, 200%);
	}
  }

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.covers {
	  --num-cols: 2;
	  --row-height: 200px;
	}
  }

.cover img{
	display:block;
    margin:auto;

	width: 70%;
}

.play_button {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
  }


.footer-padding {
	padding: 1em;
}

.cover:hover {
	opacity: 60%;
	backdrop-filter: blur(5px);
}

.cover {
	display: flex;
	text-align: center;
}
.container{
	position:relative;
	width: 100%;
	max-width: 200px;
}

.container img{
	width: 85%;
	margin: auto;
	display: block;
}
.container .btn {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	opacity: 0;
  }

.container:hover > .btn {
	opacity: 100;
}

.container:hover{
	opacity: 80%;
}

.container:hover .desc{
	text-decoration: underline;
	font-weight: bold;
}
.cover:hover > .audio {
	opacity: 100%;
}

.cover:hover + .desc {
	text-decoration: underline;
	font-weight: bold;
}

.audio{
	opacity: 0%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	position: absolute;
	transform: translate(70%, 120%);
	z-index: 9;
}

.apartados{
	margin-top: 1em;;
	padding-left:  2em;
	margin-right: 2em;
	border-radius: 1em;
	width: auto;
	height: 88%;
}

.apartado_title{
	color: #a98ed5;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 550;
}

.perfil_head{

	height:150px;
}

.perfil_head img{
	float: left;
	margin-right: 30px;
	height: 100px;
	width: 100px;
}

.perfil_title{
	color: #a98ed5;
	margin-top: 20px;
	font-family:Arial, Bold, Helvetica, sans-serif;
	font-size: 5vw;
	font-weight: 550;
}

.desc{
	margin: auto;
	text-align: center;
	color: #a98ed5;
	font-size: 0.95em;
}

button {
	background: none;
	border: none;
	size: inherit;
	font: inherit;
}

.cancion-item{
	background-color:#18212c;
	height: 60px;
	width: auto;
	border-color:#000;
	border-style: solid;
	margin-bottom: 20px;
}

.cancion-item img{
	float:left;
	height: 60px;
	width: 60px;
	margin-right: 30px;
	margin: auto;
	text-align: center;
	color: #a98ed5;
	font-size: 0.95em;
	
}

.song-text{
	display: block;
	margin: auto;
	text-align: left;
	margin-left: 80px;
	color: #a98ed5;
	font-size: 0.95em;
	font-weight: bold;

}

.cancion-item.dragging{
	opacity: 50%;
}

.cancion-item .rmv {
	float: right;
	background-color: #ff4e4e;
	color: white;
	padding: 16px 24px;
	cursor: pointer;
  }

.cancion-item .play {
	float: right;
	background-color: #a98ed5;
	color: white;
	padding: 20.75px 24px;
	margin-right: 30px;
	cursor: pointer;
  }