html {
	padding: 0;
	display: block;
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
	background: #0E141B; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0E141B, #535960); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0E141B, #373a3e); 
}

body {
	padding: 0;
	display: flex;
	height: 100%;
	margin: 0;
}


.column {
	/*border: 1px solid rgb(168, 25, 25);*/
	border-top-right-radius: 2em;
	display: flex;
	position: fixed;
 	flex-direction: column;
	width: 25%;
	height:	92%;
	background-color: #233243;
}

.content {
	/*border: 1px solid rgb(25, 168, 32);*/
	margin-left:  25%;
	margin-right: 0;
	border-radius: 1em;
	width: 75%;
	height:	92%;
	/*background-color: #0E141B;*/
}

.song-wrapper {
	/*border: 1px solid rgb(25, 168, 32);*/
	margin-left:  2em;
	margin-right: 0;
	border-radius: 1em;
	width: 100%;
	height: 88%;
	/*background-color: #0E141B;*/
}

#logo img{
	padding-top: 3.5em;
	display:block;
    margin:auto;
	max-width: 60%;
	height: auto;
	width: auto;
}


.sign_button {
	cursor: pointer;
	color: #a98ed5;
	font-size: 0.95em;
	font-weight: 550;
	display: flex;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.65em;
	padding-bottom: 0.65em;
	border: 1px solid  #0d1014;
	border-radius: 0.75em ;
	width: fit-content;
	margin: 0.75em;
	background-color: #1f262f;
	min-width: fit-content;
}
.wrapper-top {
	p
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
}
#cred-bar{
	background-color: #0E141B;
	position: fixed;
	right: 0;
	margin-left: auto;
	border-bottom-left-radius: 1em;
	padding-left: 2em;
	padding-right: 2em;
	width: auto;
	display: flex;
	flex-wrap: wrap;
}

.footer {
	background-color: #0E141B;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 8%;
	margin: 0;
	display: flex;
}

.footer-msg{
	margin: auto;
	text-align: center;
	color: #a98ed5;
	font-size: 0.95em;
}

.footer-msg span {
	font-size: 1rem;
}
.options-wrapper{
	margin-top: auto;
	margin-bottom: auto;
}
.options-menu{
	display: flex;
	text-align: center;
	border: 1px solid #18212c;
	padding: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	min-width: fit-content;
	border-radius: 1em;
	margin-top: 10%;
	color:dimgrey;
	background-color: #192738;
}
.options-text {
	margin: auto;
}
.policy-wrapper {
	margin-top: auto;
	margin-bottom: 0;
}
.policy {
	text-align: center;
	border: 1px solid #18212c;
	margin-left: auto;
	margin-right: auto;
	width: inherit;
	padding: 1em;
	min-width: fit-content;
	margin-top: 0;
	color:dimgrey;
	background-color: #192738;
}

a {
	color: #a98ed5;
	text-decoration: none;
}

.policy-link a:visited {
	color: #a98ed5;
}
.covers{
	--gap: 32px;
	--num-cols: 5;
	--row-height: 200px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
	
}


/* Anything udner 1500px */
@media screen and (max-width: 1500px) {
	.covers {
	  --num-cols: 4;
	  --row-height: 200px;
	}
  }

/* Anything udner 1024px */
@media screen and (max-width: 1350px) {
	.covers {
	  --num-cols: 3;
	  --row-height: 200px;
	}
	.audio {
		transform: translate(200%, 200%);
	}
  }

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.covers {
	  --num-cols: 2;
	  --row-height: 200px;
	}
  }

.cover img{
	display:block;
    margin:auto;

	width: 70%;
}

.footer-padding {
	padding: 1em;
}

.cover:hover {
	opacity: 60%;
	backdrop-filter: blur(5px);
}

.cover {
	display: flex;
	text-align: center;
}

.cover:hover > .audio {
	opacity: 100%;
	z-index: 2;
}

.cover:hover + .desc {
	text-decoration: underline;
	font-weight: bold;
}

.audio{
	opacity: 0%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	position: absolute;
	transform: translate(70%, 120%);
	z-index: 1;
}

.apartados{
	margin-top: 1em;;
	padding-left:  2em;
	margin-right: 2em;
	border-radius: 1em;
	width: auto;
	height: 88%;
}

.apartado_title{
	color: #a98ed5;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 550;
}

.desc{
	margin: auto;
	text-align: center;
	color: #a98ed5;
	font-size: 0.95em;
}

button {
	background: none;
	border: none;
	size: inherit;
	font: inherit;
}

.usr_img_btn img {
	height: 3rem;
	width: 3rem;
	border-radius: 1.5rem;
}
.usr_img_btn {
	cursor: pointer;
	margin: 0.5rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	transform: translate(-25%, 4rem);
	background-color: #0E141B;
	min-width: 9rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
	border-radius: 1rem;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
	cursor: pointer;
	color: #a98ed5;
	padding: 1em 1rem;
	text-decoration: none;
	width: 100%;
	display: block;
	border-radius: 1rem;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {background-color: rgb(24, 30, 38);}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Estilos de la ventana modal de jquerry */
.ui-widget-content  {
	background-color: #373a3e!important;
	color: #a98ed5!important;
	border-color:#a98ed5!important;
}
.ui-widget  {
	background-color: #373a3e!important;
	color: #a98ed5!important;
}
.ui-dialog {
	background-color: #373a3e!important;
	color: #a98ed5!important;
}
.ui-widget-header {
	background-color: #373a3e!important;
	color: #a98ed5!important;
	border-color:#a98ed5!important;

}
.ui-dialog-title {
	background-color: #373a3e!important;
	color: #a98ed5!important;
}
.dialog-message {color: #a98ed5!important;}

/* END */